/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: var(--secondary-color);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}


/* LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

/* HAMBURGER */
.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: #111;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }
}