<nav class="navbar">
    <ul class="nav-links" id="navLinks">
        <li><a href="#collection-page">Collection</a></li>
        <li><a href="#blog-section">Blog</a></li>
        <li><a href="#children-section">Children</a></li>
        <li><a href="#lookbooks-section">Lookbooks</a></li>
        <li><a href="#about-section">About Us</a></li>
        <li><a href="#contact-section">Contact</a></li>
        <li class="wishlist-box wishlist-item-container" id="wishlist-box">Wishlist</li>
    </ul>

    <button class="menu-toggle" id="menuToggle">☰</button>
</nav>