<nav class="navbar">
    <div class="logo">
        <img src="images/rklogo.jpeg" alt="RK Logo" width="50" height="50">
    </div>

    <ul class="nav-links" id="navLinks">
        <li class="dropdown">
            <a href="#">Men ▾</a>
            <ul class="dropdown-menu">
                <li><a href="#">T-Shirts</a></li>
                <li><a href="#">Jeans</a></li>
                <li><a href="#">Jackets</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#">Women ▾</a>
            <ul class="dropdown-menu">
                <li><a href="#">Dresses</a></li>
                <li><a href="#">Tops</a></li>
                <li><a href="#">Skirts</a></li>
            </ul>
        </li>

        <li><a href="#">New</a></li>
        <li><a href="#">Sale</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

    <div class="menu-toggle" id="menuToggle">☰</div>
</nav>

<script>
// toggle menu for mobile view 
    const menuToggle = document.getElementById('menuToggle');
    const navLinks = document.getElementById('navLinks');
    const dropdowns = document.querySelectorAll(".dropdown");
    // menu toggle click event
    menuToggle.addEventListener('click', () => {
      navLinks.classList.toggle('active');
      
    });



    // dropdown functionality for mobile view
    dropdowns.forEach(dropdown => {
        dropdown.addEventListener('click', (e) => {
            if(window.innerWidth <= 768){
                e.preventDefault();
                dropdown.classList.toggle('active');
            }
        });
    });
</script>