<section id="contact-section">

    <!-- HERO -->
    <section class="contact_hero_container_div">
        <div class="hero-content">
            <div class="contact-heading">
                <h1 class="hero-title"></h1>
                <p class="hero-subtitle"></p>
            </div>
        </div>
    </section>

    <!-- CONTACT INFO -->
    <div class="contact-info">
        <h2 class="intro-heading"></h2>
        <p class="contact-intro"></p>

        <!-- Contact Cards -->
        <div class="info-card-section"></div>

        <!-- Social Links -->
        <div class="social-links">
            <h3>Follow Us:</h3>
            <div class="social-icons"></div>
        </div>
    </div>

</section>
