<div class="product-section-wrapper">
    <div class="product-filters">
        <h2>Filters</h2>

        <div class="filter-group">
            <h3>Category</h3>
            <div id="categoryFilter" class="categoryFilter"></div>
        </div>

        <div class="filter-group">
            <h3>Material</h3>
            <div id="materialFilter" class="materialFilter"></div>
        </div>

        <div class="filter-group">
            <h3>Price Range</h3>
            <div class="price-range-container">
                <div class="price-inputs">
                    <input type="number" id="minPrice" value="0" min="0" placeholder="Min">
                    <span>-</span>
                    <input type="number" id="maxPrice" value="0" min="0" placeholder="Max">
                </div>
            </div>
        </div>

        <div class="filter-group">
            <h3>Brand</h3>
            <div id="brandFilter" class="brandFilter"></div>
        </div>
        <div class="filter-group">
            <h3>Color</h3>
            <div id="colorFilter" class="color-filter"></div>
        </div>

        <div class="filter-group">
            <h3>Season</h3>
            <div id="seasonFilter" class="season-filter"></div>
        </div>

        <button id="resetFilters" class="btn-reset">Reset Filters</button>
    </div>

    <div class="products-container">
        <div class="gridProduct" id="gridProduct"></div>
    </div>
</div>